[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
hypothesis = "*"
python-dateutil = "*"
pytest = "*"
pytest-cov = "*"
flake8 = "*"
pdbpp = "*"

[packages]
mew = {editable = true,path = "."}
backports-datetime-fromisoformat = {markers = "python_version<'3.7'",version = "*"}
# use fork until this RP is approved:
# https://github.com/ericvsmith/dataclasses/pull/141
dataclasses = {markers = "python_version<'3.7'",file = "https://github.com/cliffxuan/dataclasses/tarball/master"}
